
<div class="container">
  
  
  <% @cocktails.each do |cocktail| %>
  <div class="each">
   
     <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name"%>
      
     <%= link_to "Delete",
                      cocktail_path(cocktail),
                      method: :delete,
                      data: { confirm: "Are you sure?" },
                      class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
  <%= link_to "Create Cocktail", new_cocktail_path %>
  
  

</div> 