
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(assets/banner4.jpg);">
  <div class="container">
      <h1>The best cocktail recipes !</h1>
      <p>Learn how to make your own cocktail !</p>

  </div> 
</div>
  
      
 
      <div class="card-container">
        
      <% @cocktails.each do |cocktail| %>
          <div class="card">
               <%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-name"%>
          </div>
      <% end %>
      </div>
   <div class="create-cocktail">
     
    <%= link_to "Create Cocktail", new_cocktail_path, class: "create"%>
   </div>
  
 